{
  "Logging": {
    "LogLevel": {
      "Default": "Information",
      "Microsoft.AspNetCore": "Warning"
    }
  },
  "AllowedHosts": "*",
  "Jwt": {
    "SigningKey": "",
    "Issuer": "Bimss",
    "Audience": "Bimss",
    "AccessTokenMinutes": 15,
    "RefreshTokenDays": 14
  },
  "Cors": {
    "AllowedOrigins": []
  }
}
