{
  "Logging": {
    "LogLevel": {
      "Default": "Information",
      "Microsoft.AspNetCore": "Warning"
    }
  },
  "ConnectionStrings": {
    "Bimss": ""
  },
  "Jwt": {
    "SigningKey": ""
  },
  "Cors": {
    "AllowedOrigins": ["http://localhost:3000"]
  }
}
